<a href="{{ routes.account_url }}" class="header__icon header__account hide-mobile" aria-label="Account">
    <span class="icon icon-account" aria-hidden="true">{%- render 'theme-icon', icon: 'account' -%}</span>
</a>