<a href="/pages/wishlist" class="header__icon header__wishlist hide-mobile" aria-label="Wishlist">
    <span class="icon icon-wishlist" aria-hidden="true">{%- render 'theme-icon', icon: 'wishlist' -%}</span>
</a>