<div class="product-block accordion" {{ block.shopify_attributes }}>
  <details>
    <summary>{{ block.settings.title }}</summary>

    <div class="accordion-content">
      {{ block.settings.content }}
    </div>
  </details>
</div>
