<div class="accordion-item" {{ block.shopify_attributes }}>
  <div class="accordion-trigger">
    {{ block.settings.title }}
  </div>

  <div class="accordion-content">
    {{ block.settings.content }}
  </div>
</div>
