<div class="product-block" {{ block.shopify_attributes }}>
  <div class="product-reviews">
    ⭐⭐⭐⭐⭐
    <span>
      ({{ product.metafields.reviews.count | default: 0 }})
    </span>
  </div>
</div>
