
.featured-posts .articles-wrapper {
  position: relative;
  overflow: hidden;
}

.featured-posts .article-track {
  position: relative;
  height: clamp(30rem,50vh,66rem);
}

.featured-posts .article-slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.6s ease;
}

.featured-posts .article-slide.is-active {
  opacity: 1;
  pointer-events: auto;
}
.featured-posts h1 {
  margin-top: clamp(5rem,7vh,6.3rem);
  margin-bottom: clamp(3rem,5vh,4.3rem);
  color: rgb(var(--color-heading));
}
@media (min-width: 992px) {
  .featured-posts .article-pin-card .text-wrap {
    position: relative;
    width: 60%;
    padding-right: 3rem;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .featured-posts .article-pin-card {
    display: flex;
    column-gap: 2rem;
    width: 100%;
    justify-content: space-between;
  }
  .featured-posts .image-wrap {
    width: 40%;
  }
}

/* Desktop / Laptop */
@media (min-width: 992px) and (max-width: 1320px) {
  .featured-posts .article-pin-card .text-wrap {
    padding-right: 3rem;
    padding-left: 1rem;
  }
}

/* Large screens */
@media (min-width: 1321px) {
  .featured-posts .article-pin-card .text-wrap {
    padding-right: 6rem;
    padding-left: 7rem;
  }
}
.featured-posts .article-pin-card h2 {
  margin-bottom: clamp(2rem,3.8vh,2.8rem);
  color: rgb(var(--color-heading));
}
.featured-posts .article-pin-card .article-excerpt {
  margin-bottom: clamp(1rem,2vh,1.8rem);
  color: rgb(var(--color-text));
  font-size: var();
}
.featured-posts .btn-wrapper .btn--animation {
  color: rgb(var(--color-link));
  width: fit-content;
}

.featured-posts .btn-wrapper:hover .btn--animation {
  color: rgb(var(--color-link-hover));
}
.featured-posts .btn-wrapper:hover .btn--animation:before{
 background: rgb(var(--color-link-hover));
}
/* Counter */
.featured-posts .featured-post-count {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.featured-posts .counter-item {
  background: none;
  border: none;
  cursor: pointer;
  opacity: 0.4;
  font-size: 1.6rem;
}

.featured-posts .counter-item.active-counter {
  opacity: 1;
  font-weight: 700;
}
.featured-posts .end-link {
  margin-top: clamp(3rem,6vh,5.5rem);
  overflow: hidden;
  padding-bottom: 20px;
}
.featured-posts .end-link .btn--animation{
  color: rgb(var(--color-link));
  width: fit-content;
  font-size: calc(var(--btn-animation-font-size) * 1.5);
}
.featured-posts .end-link:hover .btn--animation{
  color: rgb(var(--color-link-hover));
}
.featured-posts .end-link:hover .btn--animation:before{
 background: rgb(var(--color-link-hover));
}
/* Responsive */
@media (max-width: 991px) {
  .featured-posts.section-x-padding{
    padding-left: 0;
    padding-right: 0;
  }
 .featured-posts .featured-post-count {
    top: 40%;
  }
 .featured-posts .featured-post-count .counter-item{
    color: #fff;
  }
  .featured-posts h1{
      padding-top: 1rem;
  }
  .featured-posts .cropped-image--square {
      padding-bottom: 80%;
  }
  .featured-posts .article-track {
    height: clamp(26rem,45vh,55rem);
  }
  .featured-posts .end-link {
    margin-top: clamp(2rem,3vh,3.5rem);
  }
  .featured-posts .text-wrap {
    padding-top: 1rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
}

