.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}
.product-carousel .swiper-container-filter {
    width: calc(100% - 1.2rem);
    padding-top: 1.2rem;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
}
@media (min-width: 991px) {
  .product-carousel .swiper-container-filter {
    width: calc(73.6% - 8rem);
    margin-left: auto;
    margin-right: 0;
  }
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}
.product-carousel .swiper-container-filter {
    margin-bottom: 2rem;
}
.product-carousel .swiper-container-filter .swiper-slide {
    display: inline-block;
    width: auto;
}
.product-carousel .swiper-container-filter .swiper-slide a{
      color: rgb(var(--color-link));
      position: relative;
}
.product-carousel .swiper-container-filter .swiper-slide a:after {
    content: "";
    background:#e3c7bf;
    position: absolute;
    height: 0.8px;
    width: 100%;
    bottom: -3px;
    left: 0;
}
.related-product-caps {
    letter-spacing: .02rem;
    font-size: 1.3rem;
    line-height: 1.53846;
    font-weight: 300;
    text-transform: uppercase;
}
.product-carousel .swiper-slide {
    height: auto;
}
.product-carousel .swiper-container-product {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    padding-bottom: 1.4rem;
}
@media (min-width: 991px) {
  .product-carousel .swiper-container-product {
      padding-left: 8rem;
      padding-right: 4rem;
  }
}
.swiper-container-free-mode>.swiper-wrapper {
    transition-timing-function: ease-out;
    margin: 0 auto;
}
.v-aligner{
    display: flex;
    align-items: center;
}
.product-carousel .collection-lead-info {
    width: 88%;
    margin-left: auto;
}
.product-carousel .collection-lead-info {
    padding-bottom: 5rem;
}
.product-carousel .collection-lead-info h2 {
    margin-bottom: 4.2rem;
}
.product-carousel .collection-lead-info a .info-title{
    color: rgb(var(--color-heading));
}
.product-carousel .collection-lead-info a.arrow-link{
    color: rgb(var(--color-link));
}
.product-carousel .collection-lead-info .btn.btn-arrow {
    font-family: var(--font-body-family);
    color: rgb(var(--color-link));
    font-size: 22px;
    padding: 0;
}
.product-carousel .collection-lead-info .btn-arrow .icon {
    margin-bottom: -4px;
    margin-left: 30px;
}
/* Product Card Style */
.product-carousel .product-card {
  opacity: 0;
  transform: translateX(4rem);
  transition: opacity 0.6s cubic-bezier(0.72, 0, 0.28, 1),
    transform 1.5s cubic-bezier(0, 0, 0.002, 1);
}

.product-carousel .product-card {
  opacity: 1;
  transform: none;
}

.product-carousel .swiper-slide:first-of-type .product-card {
  transition-delay: 0.1s;
}

.product-carousel .swiper-slide:nth-of-type(2) .product-card {
  transition-delay: 0.2s;
}

.product-carousel .swiper-slide:nth-of-type(3) .product-card {
  transition-delay: 0.3s;
}

.product-carousel .swiper-slide:nth-of-type(4) .product-card {
  transition-delay: 0.4s;
}

.product-carousel .swiper-slide:nth-of-type(5) .product-card {
  transition-delay: 0.5s;
}

.product-carousel .swiper-slide:nth-of-type(6) .product-card {
  transition-delay: 0.6s;
}

.product-carousel .swiper-slide:nth-of-type(7) .product-card {
  transition-delay: 0.7s;
}

.product-carousel .swiper-slide:nth-of-type(8) .product-card {
  transition-delay: 0.8s;
}

.product-carousel .swiper-slide:nth-of-type(9) .product-card {
  transition-delay: 0.9s;
}

.product-carousel .swiper-slide:nth-of-type(10) .product-card {
  transition-delay: 1s;
}

.product-carousel .swiper-slide:nth-of-type(11) .product-card {
  transition-delay: 1.1s;
}

.product-carousel .swiper-slide:nth-of-type(12) .product-card {
  transition-delay: 1.2s;
}

.product-carousel .swiper-slide:nth-of-type(13) .product-card {
  transition-delay: 1.3s;
}

.product-carousel .swiper-slide:nth-of-type(14) .product-card {
  transition-delay: 1.4s;
}

.product-carousel .swiper-slide:nth-of-type(15) .product-card {
  transition-delay: 1.5s;
}

.product-carousel .swiper-slide:nth-of-type(16) .product-card {
  transition-delay: 1.6s;
}

.product-carousel .swiper-slide:nth-of-type(17) .product-card {
  transition-delay: 1.7s;
}

.product-carousel .swiper-slide:nth-of-type(18) .product-card {
  transition-delay: 1.8s;
}

.product-carousel .swiper-slide:nth-of-type(19) .product-card {
  transition-delay: 1.9s;
}

.product-carousel .swiper-slide:nth-of-type(20) .product-card {
  transition-delay: 2s;
}

.product-carousel .swiper-slide:nth-of-type(21) .product-card {
  transition-delay: 2.1s;
}

.product-carousel .swiper-slide:nth-of-type(22) .product-card {
  transition-delay: 2.2s;
}

.product-carousel .swiper-slide:nth-of-type(23) .product-card {
  transition-delay: 2.3s;
}

.product-carousel .swiper-slide:nth-of-type(24) .product-card {
  transition-delay: 2.4s;
}

.product-carousel .swiper-slide:nth-of-type(25) .product-card {
  transition-delay: 2.5s;
}

.product-carousel .swiper-slide:nth-of-type(26) .product-card {
  transition-delay: 2.6s;
}

.product-carousel .swiper-slide:nth-of-type(27) .product-card {
  transition-delay: 2.7s;
}

.product-carousel .swiper-slide:nth-of-type(28) .product-card {
  transition-delay: 2.8s;
}

.product-carousel .swiper-slide:nth-of-type(29) .product-card {
  transition-delay: 2.9s;
}

.product-carousel .swiper-slide:nth-of-type(30) .product-card {
  transition-delay: 3s;
}

/* Slider Css */
.swiper-slide.product-slide{
    display: none;
}

/* Scrollbar style */
:root{
  --swiper-scrollbar-sides-offset: 4%;
}
.swiper-scrollbar{

}