.footer {

}


@media (min-width: 991px){
    .footer__inner {
        display: flex;
        gap: 2rem;
    }
    .width-5{
        width: 5%;
    }
    .width-10{
        width: 10%;
    }
    .width-15{
        width: 15%;
    }
    .width-20{
        width: 20%;
    }
    .width-25{
        width: 25%;
    }
    .width-33{
        width: 33.33%;
    }
    .width-40{
        width: 40%;
    }
    .width-45{
        width: 45%;
    }
    .width-50{
        width: 40%;
    }
}
/* Newsletter */
.footer__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer__form input[type="email"] {
  padding: 0.75rem;
}

.footer__checkbox {
  display: flex;
  gap: 0.5rem;
  font-size: 0.9rem;
}

.footer__submit {
  padding: 0.75rem;
  cursor: pointer;
}

/* Menu */
.footer__menu-title {
  font-size: 1.1rem;
  font-weight: 600;
  background: none;
  border: none;
  padding: 0;
}

.footer__menu-links {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-top: 1rem;
}

/* =====================
   MOBILE ACCORDION
===================== */
@media (max-width: 991px) {
  .toggle-content {
    overflow: hidden;
    max-height: 0;
    transform: translateY(-6px);
    transition: max-height .5s cubic-bezier(0,0,.002,1),
                opacity .3s ease,
                transform .3s ease;
  }

  .toggle-content.content-open {
    max-height: 1000px; /* large enough to show full content */
    transform: translateY(0);
  }
}


/* =====================
   Sidebar Spaceing
===================== */
@media (min-width: 991px) {
  .full-width .footer-sidebar-space{
    padding-left: 5rem;
  }
}
@media (min-width: 991px) and (max-width: 1499px) {
  .container-fluid .footer-sidebar-space,
  .container .footer-sidebar-space
  {
    padding-left: 7rem;
  }
}
@media (min-width: 1500px) and (max-width: 1700px) {
  .container-fluid .footer-sidebar-space,
  .container .footer-sidebar-space
  {
    padding-left: 5rem;
  }
}
